### Python template
__pycache__/

rlsdk_logs/
others/
game_package_opensource
train_tools
ray_results
.vscode
output
test.py

**/human_data

**/tmp 

**/hpn_2_output

**/hpn_linear_1_output

**/hpn_output